*, *::before, *::after {
    box-sizing: border-box;
}


// colors 
$color-primary: #64858b;
$color-light: #e6e1d9;
$color-secondary: #d8a62f;
$color-4: #c0654f;
$color-text: #27104d;
$color-dark: #333333;


body {
    font-size: 62.5%;
    margin: 0;
    padding: 0;
    background-color: $color-light;
}

//transitions 
$trans-primary: cubic-bezier(0.075, 0.82, 0.165, 1);

// fonts 
$font-primary: 'GT Walsheim Pro', 'Gill Sans', sans-serif;
$font-secondary: 'Founders Grotesk';

h4 {
    font-family: 'GT Walsheim Pro';
    font-style: italic;
    font-weight: 200;
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim/GT-Walsheim-Pro-Regular.woff") format('woff');
    font-weight: 400;
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim/GT-Walsheim-Pro-Black.woff") format('woff');
    font-weight: 600;
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim/GT-Walsheim-Pro-Light.woff") format('woff');
    font-weight: 300;
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim/GT-Walsheim-Pro-Medium.woff") format('woff');
    font-weight: 500;
}

@font-face {
    font-family: "GT Walsheim Pro";
    src: url("../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.woff") format('woff');
    font-weight: 300;
    font-style: italic;
}



