*,
*::before,
*::after {
  box-sizing: border-box;
}

// colors
$color-primary: #64858b;
$color-primary-darker: #394e52;
$color-light: #e6e1d9;
$color-secondary: #d8a62f;
$color-4: #bd8273;
$color-5: #bbadaa;
$color-text: #27104d;
$color-text-disabled: #737275;
$color-dark: #333333;

body {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
  background-color: $color-light;
  position: relative;
}

//transitions
$trans-primary: cubic-bezier(0.075, 0.82, 0.165, 1);

// fonts
$font-primary: 'GT Walsheim Pro', 'Gill Sans', sans-serif;
$font-secondary: 'Founders Grotesk';

h4 {
  font-family: 'GT Walsheim Pro';
  font-style: italic;
  font-weight: 200;
}
.bar {
  position: fixed;
  top: 2rem;
  left: -2.9rem;
  padding-bottom: 8rem;
  z-index: 1000;
  @media screen and (max-width: 1127px) {
    position: relative;
    top: 0;
    left: 0;
    padding-bottom: 0;
    width: 100vw;
    display: flex;
    justify-content: center;
  }
  .brand {
    display: flex;
    width: 12rem;
    height: 30rem;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
    color: $color-text;
    @media screen and (max-width: 1127px) {
      width: 85%;
      flex-direction: row-reverse;
      height: auto;
    }
    &-title {
      &-text {
        font-size: 2.2rem;
        font-family: $font-primary;
        color: $color-text;
        font-weight: 500;
        transform: rotate(-90deg);
        @media screen and (max-width: 1127px) {
          transform: rotate(0deg);
        }
        @media screen and (max-width: 1220px) {
          font-weight: 400;
          font-size: 1.5rem;
        }
      }
    }
  }
}

.credits {
  width: 100vw;
  display: flex;
  justify-content: center;
  &_text {
    font-family: $font-primary;
    font-size: 1.4rem;
    font-weight: 300;
    color: $color-text;
    & a:active,
    a:visited {
      color: $color-text;
    }
  }
  &_about {
    font-family: $font-primary;
    font-size: 1rem;
    font-weight: 300;
    color: $color-text;
    margin-left: 30%;
    & a:active,
    a:visited {
      color: $color-text;
    }
  }
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/GT-Walsheim/GT-Walsheim-Pro-Regular.woff') format('woff');
  font-weight: 400;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/GT-Walsheim/GT-Walsheim-Pro-Black.woff') format('woff');
  font-weight: 600;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/GT-Walsheim/GT-Walsheim-Pro-Light.woff') format('woff');
  font-weight: 300;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/GT-Walsheim/GT-Walsheim-Pro-Medium.woff') format('woff');
  font-weight: 500;
}

@font-face {
  font-family: 'GT Walsheim Pro';
  src: url('../fonts/GT-Walsheim/GT-Walsheim-Light-Oblique.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}
