.week {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  transition: all 0.2s $trans-primary;
  margin-top: 2rem;
  background-color: $color-light;
  @media screen and (max-width: 624px) {
    // position: sticky;
    top: 0rem;
    height: 4rem;
  }
  &_title {
    font-family: $font-primary;
    font-weight: 500;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    margin-right: 2rem;
    margin-left: 2rem;
    color: $color-text;
    width: 16rem;
    @media screen and (max-width: 624px) {
      width: 13.5rem;
      margin: 0;
    }
  }
  &_arrow {
    font-size: 1.5rem;
    background-color: $color-secondary;
    padding-top: 0.2rem;
    padding-bottom: 0.2rem;
    box-shadow: 0 2px 13px rgba(216, 166, 47, 0.68);
    border: none;
    border-radius: 50rem;
    transition: all 0.4s $trans-primary;
    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 20px rgba(216, 166, 47, 0.68);
    }
    &:active {
      transform: scale(1.2);
      border: none;
      outline: none;
    }
  }
}

.numberDate {
  padding: 0 4rem;
  font-family: $font-primary;
  font-size: 1.7rem;
  display: flex;
  text-align: center;
  margin-bottom: 0;

  @media screen and (max-width: 1200px) {
    padding: 0 3.5rem;
  }
  @media screen and (max-width: 1092px) {
    padding: 0 3.2rem;
  }
  @media screen and (max-width: 1039px) {
    padding: 0 2.9rem;
  }
  // old ones
  @media screen and (max-width: 974px) {
    padding: 0 2.5rem;
  }
  @media screen and (max-width: 887px) {
    padding: 0 2.2rem;
  }
  @media screen and (max-width: 813px) {
    padding: 0 1.8rem;
  }
  @media screen and (max-width: 730px) {
    font-size: 1.4rem;
    padding: 0 1.5rem;
  }
  @media screen and (max-width: 624px) {
    display: none;
  }
  //   @media screen and (max-width: 500px) {
  //     font-size: 1rem;
  //     padding: 0 0.5rem;
  //   }
  sup {
    font-size: 1rem;
  }
}

.sticks {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}

.weekdays {
  display: flex;
  justify-content: center;
  width: 100vw;
  margin-top: 0;
  // position: sticky;
  // position: -webkit-sticky;
  background-color: $color-light;
  top: 0rem;
  @media screen and (max-width: 624px) {
    height: 3.8rem;
    align-items: center;
  }
  &_day {
    width: 10rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    @media screen and (max-width: 1205px) {
      width: 9rem;
    }
    @media screen and (max-width: 1092px) {
      width: 8.3rem;
    }

    @media screen and (max-width: 1034px) {
      width: 8rem;
    }
    @media screen and (max-width: 974px) {
      width: 7rem;
    }
    @media screen and (max-width: 887px) {
      width: 6.4rem;
    }
    @media screen and (max-width: 813px) {
      width: 5.6rem;
    }
    @media screen and (max-width: 730px) {
      width: 4.8rem;
    }
    .wordDate {
      text-align: center;
      font-family: $font-primary;
      font-weight: 300;
      font-style: italic;
      font-size: 1.4rem;
      @media screen and (max-width: 624px) {
        font-size: 1.9rem;
      }
    }
  }
}

.TimeSelect {
  display: flex;
  align-items: center;
  width: 100vw;
  height: auto;
  margin-top: 1rem;
  @media screen and (max-width: 650px) {
    flex-direction: column;
    margin-top: 2rem;
  }
}

.TimeSlot {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1.5rem;
  margin-top: 1rem;
  &_col {
    padding: 0 3rem;
    display: flex;
    flex-direction: column;
    &_row {
      margin: 0rem 0rem;
      &:nth-child(1) {
        button {
          border-top-left-radius: 2rem;
          border-top-right-radius: 2rem;
        }
      }
      &:last-child {
        button {
          border-bottom-left-radius: 2rem;
          border-bottom-right-radius: 2rem;
          p {
            transform: translateY(-0.5rem);
          }
        }
      }
    }
  }
  &_time {
    font-family: $font-primary;
    font-size: 1rem;
    text-align: center;
    background-color: $color-dark;
    box-shadow: 0 2px 13px rgba($color-dark, 0.5);
    padding: 1.5rem;
    color: $color-light;
    width: 7.5rem;
    margin: 0.3rem 1.2rem;
    transition: all 0.4s $trans-primary;
    border-radius: 0.4rem;
    border: none;
    outline: none;
    &:active {
      border: none;
      outline: none;
    }
    &_selected {
      background-color: $color-primary;
      box-shadow: 0 2px 20px rgba($color-primary, 0.68);
      &:hover {
        cursor: pointer;
      }
    }
    &_invitee_selected {
      background-color: $color-primary-darker;
      box-shadow: 0 2px 20px rgba($color-primary-darker, 0.68);
      &:hover {
        cursor: pointer;
      }
    }

    &:hover {
      cursor: pointer;
      box-shadow: 0 2px 13px rgba($color-dark, 0.9);
    }
    @media screen and (max-width: 1205px) {
      padding: 1rem;
      margin: 0.3rem 0.7rem;
    }
    @media screen and (max-width: 1092px) {
      margin: 0.2rem 0.9rem;
      width: 6.5rem;
    }

    @media screen and (max-width: 1034px) {
      font-size: 1.2rem;
      padding: 0.2rem 0rem;
      width: 5.4rem;
      margin: 0.2rem 1.2rem;
    }
    @media screen and (max-width: 974px) {
      margin: 0.2rem 0.8rem;
    }
    @media screen and (max-width: 887px) {
      margin: 0.2rem 0.5rem;
    }
    @media screen and (max-width: 813px) {
      font-size: 1rem;
      margin: 0.2rem 0.4rem;
      width: 4.8rem;
    }
    @media screen and (max-width: 730px) {
      margin: 0.2rem 0.3rem;
      width: 4.1rem;
    }
    @media screen and (max-width: 624px) {
      margin: 0.2rem 0.3rem;
      width: 11rem;
      font-size: 1.5rem;
    }
  }
}

.sticks {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
